@use 'sass:meta';
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
  @include mat.dialog-overrides(
    (
      container-color: #111,
      subhead-color: white,
      container-max-width: 100%,
    )
  );
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@include meta.load-css('variables.scss');
@include meta.load-css('reset.scss');

body {
  @apply min-h-[100vh];
  @apply bg-[black];
  @apply text-lavender-web font-[ubuntu];
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
