<nd-hamburger
  class="menu-button"
  [isActive]="isMenuActive()"
  (click)="toggleMenu()"
></nd-hamburger>

<div class="menu-container" [class.active]="isMenuActive()">
  <div class="title-container">
    <h1 class="title"><b>NASA</b></h1>
    <h1 class="title">Downtown</h1>
  </div>

  <nav class="navbar-menu">
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active">Home</a>
      </li>
    </ul>
  </nav>

  <div class="buttons-container">
    <button>
      <fa-icon class="button-icon" [icon]="faGithub" />
    </button>
  </div>
</div>
