@if(photosByDate(); as photosByDate) { @for (date of dates(); track date) {
<div class="date-container">
  <h3 class="date-title">{{ formatDate(date) }}</h3>
  <div class="photos-container">
    @for(photo of photosByDate[date]; track photo.id) {
    <button class="photo" (click)="openPhotoDialog(photo.id)">
      <img
        [src]="photo.img_src"
        alt="Mars photo"
        (error)="photo.isBroken = true"
        [class.hidden]="photo.isBroken"
      />
      <nd-broken-image
        *ngIf="photo.isBroken"
        width="200px"
        height="200px"
        iconSize="text-2xl"
      ></nd-broken-image>
    </button>
    }
  </div>
</div>
} }
